.car-container {
    background-color: black;
    color:white; 
    max-height: 100px;
    max-width: 350px;
    padding:1rem;
}

.car-content {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
}

p {
    margin:0;
    padding-bottom:0.5rem;
}