.car-container {
    background-image: url("../assets/car-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    max-height: 130px;
    max-width: 350px;
    padding: 1rem;
}

.car-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.car-content p {
    margin: 0;
    padding-bottom: 0.5rem;
    color: white;
}

.button-two {
    padding: 0.3rem;
}