.output-container {
    min-height: 300px;
    display: flex;

}

.entries-container {
    text-align: left;
    font-size: 1rem;
    background-color: #c5e9ff;
    border: 3px solid #66C4FF;
    border-radius: 15px;
    width: 70%;
    padding: 2rem;
}

.earnings-container {
    border: 1px;
    font-size: 2rem;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
}