.output-container {
    display: flex;

}

.entries-container {
    text-align: left;
    font-size: 1rem;
    width: 70%;
    height: fit-content;
}

.earnings-container {
    border: 1px;
    font-size: 2rem;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
}