.header-container {
    text-align: center;
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.4rem;
}

button {
    border: 1px;
    border-radius: 10px;
    background-color: #7D99AA;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
}

button:hover {
    background-color: #FFC067;
}

.button-one {
    padding: 1rem;
}

form {
    border-radius: 5%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 300px;
}

h1 {
    font-size: 3rem;
    color: #66C4FF;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    margin: 0px;
    margin-bottom: 1rem;
    color: #7D99AA
}

.instruction {
    border: 1px dotted #7D99AA;
    padding: 1rem;
    border-radius: 15px;
}